html, body {
    height:100%;
}
body {
    width:70%;
    margin:0 auto;
}
.login-err {
    position: absolute;
    color:red;
    width:30%;
    height:200px;
    text-align:center;
    margin:0;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    border:1px solid black;
    border-radius: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:20px;
    background-color:white;
    transition: opacity 1s ease-in-out;
}
.login-err button{
    position:absolute;
    background-color: transparent;
    border:3px solid rgb(43, 159, 226);
    top:75%;
    font-size:18px;
    color:rgb(43, 159, 226);
    width:150px;
    height:30px;
    border-radius: 8px;
}
.login-err button:hover{
    cursor:pointer;
    opacity: .8;
}
.user-list {
    /* border: 1px solid black; */
    display:flex;
    flex-direction: column;
}
.user {
    flex-basis:50px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    font-size:20px;
    border: 1px solid black;
    border-top:none;
}
.user-list-header {
    background-color: #555;
    border-top: 1px solid black;
    color:white;
}
.user:nth-of-type(even){
    /* background-color: #95E8AE; */
    background-color: #f1f1f1;
    /* color:white; */
}
.user input[type="submit"]{
    /* background-color: red; */
    color:white;
}
.user form:hover{
    /* background-color: red; */
    opacity:.8;
}
.user input[type="submit"]:focus{
    outline: none;
}
.user span {
    flex-basis:50%;
}
.buttons-container {
    display:flex;
    justify-content: space-evenly;
    flex-basis:20%;  
}
.buttons-container input[type="submit"] {
    border:none;
    background:transparent;
}
.buttons-container input[type="submit"]:hover {
    cursor:pointer;
}
.right-side-details {
    /* border-left:1px solid black; */
    padding:10px 10px;
    text-align: center;
}
.view-user-container {
    display:flex;
    flex-direction: column;
    position: relative;
}
.left-side-details {
    text-align:center;
    width:10px;
}
.line {
    /* width: 100%; */
    /* border: 3px solid red; */
    position: absolute;
    /* top: 50%; */
    /* transform: rotate(90deg); */
    height: 93%;
    width: 2px;
    background: #555;
    bottom: 0;
    left: 50%;
}
.landing {
    position:relative;
    top:50%;
    transform:translateY(-50%);
}
.landing .buttons-container form {
    border:3px solid orange;
    display:flex;
    align-items:center;
    background: transparent;
    padding: 3px;
    border-radius:15px;
}
.landing .buttons-container form * {
    color:orange;
}
.landing .buttons-container form:nth-of-type(1) {
    /* background: #56da7e; */
    border: 3px solid #56da7e;
}
.landing .buttons-container form:nth-of-type(1) * {
    color: #56da7e;
}
.buttons-container .fa {
    display:flex;
    padding-left:5px;
}
.view-user-container {
    position:relative;
    top:50%;
    transform:translateY(-50%);
}
.logout-form{
    text-align:right;
    position:relative;
    bottom:3px;
}
.logout-form input[type="submit"]:hover{
    cursor:pointer;
    background-color: #7397BB;
    opacity:.9;
    color:white;
}
.logout-form input[type="submit"]{
    border: 3px solid #7397BB;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: white;
    color: #7397BB;
    font-size: 16px;
}
.logout-form input[type="submit"]:focus {
    outline:none;
}
.hover-form-view {
    background-color: red;
}
.hover-form-edit {
    background-color: orange;
}

/* EDIT USER PAGE */
.edit-form {
    /* 1-3-5 */
    /* display:flex; */
    /* flex-direction:column; */
    /* flex-wrap:wrap; */
    /* height:500px; */
    /* flex-basis:50%; */


    display: flex;
    flex-direction: column;
    height: 550px;
    flex-basis: 50%;
}

.edit-form-unit {
    display:flex;
    flex-direction:column;
    padding:10px;
}
.edit-form-unit label {
    padding-bottom: 4px;
}
.edit-form-unit input {
    /* padding-bottom: 4px; */
    padding:10px;
    padding-right:0;
    border:1px solid black;
    border-radius:5px;
    font-size:16px;
}
.edit-form-unit:first-of-type {
    padding-top:0;
}
.edit-form-unit input:focus  {
    box-shadow: 0 0 1pt 1pt #7397BB;
    outline:none;
}
.edit-form-unit label {
    font-weight:bold;
}
.edit-form .edit-form-btns {
    /* display:flex;
    align-self: flex-end;
    position: relative;
    flex-basis:5%;
    justify-content: space-around; */
    display: flex;
    /* align-self: flex-end; */
    position: relative;
    /* left: 10%; */
    /* flex-basis: 5%; */
    justify-content: center;
    right: 50%;
    transform: translateX(50%);
    /* width: 100px; */
}
.edit-form-btns * {
    margin:10px;
    margin-bottom:0;
    border: 3px solid #7397BB;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: white;
    color: #7397BB;
    font-size: 16px;
    font-weight: bolder;
}
.edit-form-btns *:hover{
    cursor:pointer;
    background-color: #7397BB;
    opacity:.9;
    color:white;
}
.edit-form input[type="submit"]:hover, input[type="reset"]:hover {
    cursor:pointer;
}
/* .update-err {
    width:200px;
    height:200px;
    background:red;
} */
.edit-space {
    display:flex;    
    align-items: flex-start;
    justify-content: space-evenly;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
nav {
    width:100%;
    background-color:#7397BB;
    position:absolute;
    top:0;
    left:0;
    display:flex;
    justify-content: flex-end;
}
nav div {
    padding: 10px;
}
.nav-username {
    color:white;
    align-self:center;
}